:root {
  --primary-white-clr: #fff;
  --primary-red-clr: #f12535;
  --primary-grey-clr: rgba(255, 255, 255, 0.3);
  --primary-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

html {
  width: 100vw;
  scrollbar-width: thin;
  scrollbar-color: #434343 #0a0f18;
  -webkit-tap-highlight-color: transparent;
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background-color: #0a0f18;
}

html::-webkit-scrollbar-thumb {
  background-color: #434343;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Exo", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  outline: none;
}

button {
  outline: none;
}

body,
#root {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

#root {
  background: #080c13;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #080c13, #2b3444, #080c13);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #080c13, #2b3444, #080c13);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body.no-scrolling {
  overflow: hidden;
}

.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}
